/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

a,  a:hover{
    color: white;
    text-decoration: none;
    cursor: pointer;
}