<header class="p-3 bg-success text-white">
    <div class="container">
      <div
        class="d-flex flex-wrap align-items-center justify-content-between "
      >
      <div class="logo fs-2 fst-italic">Staff</div>
        <!-- <ul
          class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
        >
          <li class="nav-item text-white">
            <a routerLink="" class="nav-link text-white" aria-current="page"
              >home</a
            >
          </li>
          <li class="nav-item text-white">
            <a routerLink="results" class="nav-link text-white" >Results</a>
          </li>
        </ul> -->

        <div class="user d-flex align-items-center ">
            <div class="info text-end">
                <a href="">Петр<br>Петров</a>
            </div>
            <a href="">
                <app-user-photo [link]="photo"></app-user-photo>
            </a>
        </div>
      </div>
    </div>
  </header>